@import "../css/reset.css";
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&subset=cyrillic');
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}

/* Global properties ======================================================== */
html {width:100%}

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 36px;
  line-height: 1.2;
  color: #151830;
  font-weight: 400;
  min-width:960px;
  background: #151830;
  -webkit-text-size-adjust: none;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*----------------------> Links And buttons <------------------*/
  a {
    color:#;
    outline:none;
    text-decoration:none;
    cursor:pointer;
  }
  a:hover{
    color:#;
    text-decoration:none;
  }

  .btn{
    display:inline-block;
    padding:0 0 0;
    margin: 0 0 0;
    font-size: px;
    line-height: px;
    color:#;
   }
  .btn:hover{
    background:;
    color:#000;
  }

/*----------------------> Basic Classes <------------------*/
  .reg {text-transform:uppercase}
  .f_left {float:left}
  .f_right {float:right}
  .al_left{text-align: left;}
  .al_right {text-align:right}
  .al_center {text-align:center}

  .it{font-style:italic}
  .let{letter-spacing:-1px}

  .full_w{
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .val_mid{vertical-align: middle;}
/*----------------------> Indents Zero <------------------*/

  .m_b_zero{ margin-bottom:0 !important;}
  .m_l_zero{ margin-left:0 !important;}
  .p_b_zero{ padding-bottom:0 !important;}
  .p_l_zero{ padding-left:0 !important;}

/*----------------------> Positions <------------------*/
  .p_abs{position: absolute;}
  .p_rel{position: relative;}
  .p_fix{position: fixed;}
  .clear {clear:both;width:100%;line-height:0;font-size:0;}
  .clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  .wrapper {overflow:hidden}
  .f_elem>*:first-child{margin-top: 0 !important;}
  .f_elem1>*:first-child{margin-top: 0 !important;border: none !important;}

  .bg_none{ background:none !important;}

/*----------------------> Displays <------------------*/

  .d_block{ display:block;}
  .d_ib{ display:inline-block;}
  .d_none{ display:none;}
  .d_tc{ display:table-cell;}
  .d_t{ display:table;}


/*----------------------> Basic Colors <------------------*/

  [data-skin="white"]{background-color: #FFF;}

/*======================> Header <======================*/

  header {}
    .logo{}
      .logo a{
        display:block;
        width:278px;
        height:85px;
        background:url(../images/logo.png) 0 0 no-repeat;
        text-decoration:none;
        text-indent:-9999px;
      }


/*=====================> Content ========================*/
#content {padding:0px 0px 0px 0px; min-height: 1500px;}
.cont_pad{padding:0 0 0 0 !important;}

/*=====================> Titles ========================*/
  h2,h3,h4{
    font-weight:normal;
  }
  .title{
    font-size: 120px;
    text-transform: uppercase;
    /*font-family: ReformaGroteskDemiC;*/
    font-family: 'Conv_ReformaGroteskDemiC';
    text-shadow: 10px 0 2px #010101, 
                -2px -2px 1px #010101, 
                2px 2px 1px #010101, 
                -1px 2px 1px #010101;
    color: #FFC000;
    

  }
  .title1{
    font-size: 11px;
    color: #FFC000;
    /*font-family: ReformaGroteskDemiC;*/
    font-family: 'Conv_ReformaGroteskDemiC';
  }

  .title2{
    font-size: 9px;
    color: #FFC000;
    /*font-family: ReformaGroteskDemiC;*/
    font-family: 'Conv_ReformaGroteskDemiC';
  }

  .title3{
    font-size: 84px;
    font-weight: 700;
    color: #FFC000;
    text-transform: uppercase;
  }
  .title4{
    font-size: 73px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
  }
  .title5{
    font-size: 56px;
    font-weight: 700;
    color: #151830;
    text-transform: uppercase;
  }
  .title6{
    font-size: 41px;
    color: #fff;
    font-weight: 400;
  }


/*=====================> Lists ========================*/
  .list1{}
  .list1 li{
    background:url(../images/marker1.png) 0 7px no-repeat;
    padding-left:20px;
  }
  .list1 a{}

  .list2{}
  .list2 li{
    background:url(../images/marker1.png) 0 7px no-repeat;
    padding-left:20px;
  }
  .list2 a{}

  .list3{}
  .list3 li{
    background:url(../images/marker1.png) 0 7px no-repeat;
    padding-left:20px;
  }
  .list3 a{}


/*=====================> Paragraphs ========================*/

  p {margin-bottom:18px}
  .mb1{ margin-bottom:1px;}
  .mb2{ margin-bottom:2px;}
  .mb3{ margin-bottom:3px;}
  .mb4{ margin-bottom:4px;}
  .mb5{ margin-bottom:5px;}
  .mb6{ margin-bottom:6px;}
  .mb7{ margin-bottom:7px;}
  .mb8{ margin-bottom:8px;}
  .mb9{ margin-bottom:9px;}
  .mb10{ margin-bottom:10px;}
  .mb11{ margin-bottom:11px;}
  .mb12{ margin-bottom:12px;}
  .mb13{ margin-bottom:13px;}
  .mb14{ margin-bottom:14px;}
  .mb15{ margin-bottom:15px;}
  .mb16{ margin-bottom:16px;}
  .mb17{ margin-bottom:17px;}
  .mb18{ margin-bottom:18px;}
  .mb19{ margin-bottom:19px;}
  .mb20{ margin-bottom:20px;}
  .mb21{ margin-bottom:21px;}
  .mb22{ margin-bottom:22px;}
  .mb23{ margin-bottom:23px;}
  .mb24{ margin-bottom:24px;}
  .mb25{ margin-bottom:25px;}
  .mb26{ margin-bottom:26px;}
  .mb27{ margin-bottom:27px;}
  .mb28{ margin-bottom:28px;}
  .mb29{ margin-bottom:29px;}
  .mb30{ margin-bottom:30px;}
  .mb31{ margin-bottom:31px;}
  .mb32{ margin-bottom:32px;}
  .mb33{ margin-bottom:33px;}
  .mb34{ margin-bottom:34px;}
  .mb35{ margin-bottom:35px;}
  .mb36{ margin-bottom:36px;}
  .mb37{ margin-bottom:37px;}
  .mb38{ margin-bottom:38px;}
  .mb39{ margin-bottom:39px;}
  .mb40{ margin-bottom:40px;}
  .mb41{ margin-bottom:41px;}
  .mb42{ margin-bottom:42px;}
  .mb43{ margin-bottom:43px;}
  .mb44{ margin-bottom:44px;}
  .mb45{ margin-bottom:45px;}
  .mb46{ margin-bottom:46px;}
  .mb47{ margin-bottom:47px;}
  .mb48{ margin-bottom:48px;}
  .mb49{ margin-bottom:49px;}
  .mb50{ margin-bottom:50px;}
  .mb51{ margin-bottom:51px;}
  .mb52{ margin-bottom:52px;}
  .mb53{ margin-bottom:53px;}
  .mb54{ margin-bottom:54px;}
  .mb55{ margin-bottom:55px;}
  .mb58{ margin-bottom:58px;}
  .mb62{ margin-bottom:62px;}
  .mb75{ margin-bottom: 75px;}



/*================================>> FONTS  <<========================================*/

  @font-face {
    font-family: 'ReformaGroteskDemiC';
    src: url('../font/ReformaGroteskDemiC.eot');
    src: url('../font/ReformaGroteskDemiC.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }

  /** Generated by FG **/
  @font-face {
    font-family: 'Conv_ReformaGroteskDemiC';
    src: url('../font/ReformaGroteskDemiC.eot');
    src: local('☺'), url('../font/ReformaGroteskDemiC.woff') format('woff'), url('fonts/ReformaGroteskDemiC.ttf') format('truetype'), url('fonts/ReformaGroteskDemiC.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }






/*================================>> hovers <<========================================*/
  a{
      -webkit-transition: all 0.7s ease;
      -moz-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
      transition: all 0.7s ease;
  }
  a:hover{
      -webkit-transition: all 0.1s ease;
      -moz-transition: all 0.1s ease;
      -o-transition: all 0.1s ease;
      transition: all 0.1s ease;
  }



/*================================>> Contact Form <<========================================*/
  #contact-form {
    padding:0px 0 0 0;
    position: relative;
  }
  #contact-form .success
  {
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left:0;
    z-index: 99;
    background: #fff;
    border: 1px solid #000;
    text-align: center;
    padding: 20px 0;
  }
  .txt_field{
    margin:0;
    font-size:12px;
    border:1px solid #e7e7e7;
    color:#969696;
    padding:7px 10px;
    outline:none;
    position:relative;
    font-family:Arial, Helvetica, sans-serif;
    background:#fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .msg_field{
    overflow:auto;
    width:433px;
    height:172px;
    resize:none;
    float:left;
    margin: 0 0 0 0;
  }

  #contact-form .error, #contact-form .empty, #contact-form .success {display:none;}
  #contact-form .error, #contact-form .empty {
    text-align:left;
    color:red;
    font-size:11px;
    position: absolute;
    right: 10px;
    top: 5px;
  }
  #contact-form .buttons2 {
    overflow:hidden;
    text-align:right;
    position:relative;
    clear:both;
    padding-top:25px;
  }
  #contact-form .buttons2 a {
  	cursor:pointer;
  	margin-top:0;
  	text-align:center;
  }
  #contact-form span{
    display:block;
    margin: 0px 0 0 5px;
   }

  .map_wrapper{
    overflow:hidden;
    display:inline-block;
    margin-bottom:26px;
  }


/*================================>> Contacts Info <<========================================*/
  #map_canvas {
     width:411px;
     height:237px;
  }
  .adress{}
  .adress span{
    display:inline-block;
  }
  .adress dt{ margin-bottom:14px;}

/*================================>> Footer <<========================================*/
  footer {
    padding:22px 0 26px;
  }
    .social{
      overflow:hidden;
    }
      .social a{
        display:block;
        float:left;
        width:32px;
        height:32px;
        overflow:hidden;
        margin-left:8px;
      }
      .social a:first-child{margin: 0 0 0 0;}
      .social a:hover img{
        margin-top:-32px;
      }


/*============================ Arctic modal =============================*/
  .arcticmodal-overlay,
  .arcticmodal-container { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 1000; }
  .arcticmodal-container { overflow: auto; margin: 0; padding: 0; border: 0; border-collapse: collapse; }
  *:first-child+html .arcticmodal-container { height: 100% }
  .arcticmodal-container_i { height: 100%; margin: 0 auto; }
  .arcticmodal-container_i2 { padding: 24px; margin: 0; border: 0; vertical-align: middle; }
  .arcticmodal-error { padding: 20px; border-radius: 10px; background: #000; color: #fff; }
  .arcticmodal-loading { width: 80px; height: 80px; border-radius: 10px; background: #000 url(loading.gif) no-repeat 50% 50%; }


/* ========================== OWL CAROUSEL =============================*/
  /*  Core Owl Carousel v1.3.2 CSS File  */

  /* clearfix */
  .owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  /* display none until init */
  .owl-carousel{
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
  }
  .owl-carousel .owl-wrapper{
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  .owl-carousel .owl-wrapper-outer{
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .owl-carousel .owl-wrapper-outer.autoHeight{
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
  }
    
  .owl-carousel .owl-item{
    float: left;
  }
  .owl-controls .owl-page,
  .owl-controls .owl-buttons div{
    cursor: pointer;
  }
  .owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  /* mouse grab icon */
  .grabbing { 
      cursor:url(grabbing.png) 8 8, move;
  }

  /* fix */
  .owl-carousel  .owl-wrapper,
  .owl-carousel  .owl-item{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
  }

